<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1.0" newVersion="8.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!-- The AzureWebJobsDashboard and AzureWebJobsStorage must be set on the ROOT Application Settings | Connection Strings -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=hh2storage;AccountKey=be4yY1LGMsodps35j16M8ILd2TfQq19sVJxC9c0vrACAuts1JKjthkUM0SNUdKETsTdGMapz7k9gi//0qK/fJA==;" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=hh2storage;AccountKey=be4yY1LGMsodps35j16M8ILd2TfQq19sVJxC9c0vrACAuts1JKjthkUM0SNUdKETsTdGMapz7k9gi//0qK/fJA==;" />

    <!--AZURE SQL -->
    <add name="ShiftDBConnection" connectionString="Server=tcp:hhtestsql.database.windows.net,1433;Initial Catalog=ShiftJobsDB;Persist Security Info=False;User ID=username;Password=12345;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

    <!-- LOCAL SQL 
    <add name="ShiftDBConnection" connectionString="Data Source=localhost\SQL2014;Initial Catalog=ShiftJobsDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  
  <appSettings>
    <add key="TimerInterval" value="5000" />
    <add key="CleanUpTimerInterval" value="10000" />
    
    <!-- Shift running jobs settings -->
    <add key="ServiceName" value="Shift WebJob" />
    <add key="MaxRunableJobs" value="10" />
    <add key="ShiftPID" value="fae0b0bdff8e4409b05011068f2c8054" />

    <!-- OPTIONAL Encryption of Parameters in DB -->
    <!-- <add key ="ShiftEncryptionParametersKey" value="[OPTIONAL_ENCRYPTIONKEY]"/> -->

    <!-- Shift Cache - Redis -->
    <!-- Azure REDIS URL and key will be required example: contoso5.redis.cache.windows.net,abortConnect=false,ssl=true,password=... -->
    <add key="UseCache" value="true" /> <!-- Set to TRUE after RedisCache is up and running-->
    <add key="RedisConfiguration" value="shiftcache.redis.cache.windows.net:6379,password=12345,ssl=false,abortConnect=False" />
  </appSettings>
  
</configuration>
